# Global
*.code-workspace
.vscode
.env
dist
.model
__pycache__/
.pytest_cache
.data
.venv
.cache
.local
.downloaded
node_modules

# ui
.streamlit/secrets.toml

.venv
__pycache__
.env
.data
.pytest_cache
.models