# gitlab mm registry
@mindmatcher.org:registry=https://gitlab.com/api/v4/packages/npm/
@mmorg:registry=https://gitlab.com/api/v4/packages/npm/
# registry and authentication for yarrml processing
# @datalab-s:registry=https://gitlab.com/api/v4/packages/npm/
# //gitlab.com/api/v4/packages/npm/:_authToken=${NPM_TOKEN}
# @mmorg:registry=https://gitlab.com/api/v4/projects/53900833/packages/npm/
# //gitlab.com/api/v4/projects/53900833/packages/npm/:_authToken=${NPM_TOKEN}


