###> general ###
APP_ENV="dev"
###< fastapi ###

###> elasticsearch ###
ES_CONNECTION_STRING="http://elasticsearch:9200"
ES_API_KEY_1="apikeyId"
ES_API_KEY_2="apikeySecret"
ES_INDEX_SEARCH_ESCO_SKILLS="search-esco-skills"
ES_INDEX_SEARCH_SKILL_TAGGING_MATCHINGS="search-skill-tagging-matchings"
###< elasticsearch ###

###> huggingface ###
HF_MODEL_SEMENTIC_MULTILINGUAL="paraphrase-multilingual-mpnet-base-v2"
###< huggingface ###